<div class="container">
  <h1>新規投稿</h1>

  <%= form_with(model: @post, local: true) do |f| %>
    <div class="form-group">
      <%= f.label :title, "タイトル" %>
      <%= f.text_field :title, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= f.label :content, "内容" %>
      <%= f.text_area :content, class: "form-control" %>
    </div>

    <%= f.submit "投稿", class: "btn btn-primary" %>
  <% end %>

  <%= link_to "戻る", posts_path, class: "btn btn-secondary mt-3" %>
</div>
